<form action= "<%= students_path %>" method="POST">
<h1>Student Form</h1>
<label>First name:</label><br>
<input type="text" name="student[first_name]"><br>
<label>Last name:</label><br>
<input type="text" name="student[last_name]"><br>
<input type="submit" value="Submit Student">
</form>